{% extends 'back/base.html' %}
{% load static %}
{% block excss %}
    <link href="{% static 'back/assets/node_modules/jquery-asColorPicker-master/dist/css/asColorPicker.css' %}"
          rel="stylesheet">

    <style>
        .ms-container {
            width: 100% !important;
        }
    </style>
    <link href="{% static 'back/assets/node_modules/bootstrap-switch/bootstrap-switch.min.css' %}" rel="stylesheet">

    <link href="{% static 'back/dist/css/pages/bootstrap-switch.css' %}" rel="stylesheet">


{% endblock %}
{% block exscript %}
    <script src="{% static 'back/dist/js/helpers/ckeditor/ckeditor.js' %}"></script>

{% endblock exscript %}
{% block content %}
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
        <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Edit Product</h4>
                </div>
                <div class="col-md-7 align-self-center text-end">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb justify-content-end">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Tickets</li>
                        </ol>
                        <button type="button" class="btn btn-info d-none d-lg-block m-l-15 text-white"><i
                                class="fa fa-plus-circle"></i> Create New
                        </button>
                    </div>
                </div>
            </div>
            <form id="pr" action="{% url 'panel_edit_product' product.pk %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <div class="row">
                        <div class="col-4 form-group">
                            <label for="group"
                                   class="form-label">Group</label>

                            <select id="new_group" name="new_group"
                                    class="select2 form-control form-select"
                                    style="width: 100%; height:36px;">
                                {% for group in groups %}
                                    <option
                                            {% if group.name == product.group %}
                                                selected
                                            {% endif %}
                                    >{{ group.name }}</option>
                                {% endfor %}


                            </select>
                        </div>
                        <div class="col-4 form-group">
                            <label for="new_category"
                                   class="form-label">Category</label>

                            <select id="new_category" name="new_category"
                                    class="select2 form-control form-select"
                                    style="width: 100%; height:36px;">
                                {% for categorie in categories %}
                                    <option {% if categorie.name == product.category %}
                                        selected
                                    {% endif %} >{{ categorie.name }}</option>
                                {% endfor %}


                            </select>
                        </div>
                        <div class="col-4 form-group">
                            <label for="new_subcategory"
                                   class="form-label">SubCategory</label>

                            <select id="new_subcategory" name="new_subcategory"
                                    class="select2 form-control form-select"
                                    style="width: 100%; height:36px;">
                                {% for subcategorie in subcategories %}
                                    <option {% if subcategorie.name == product.sub_category %}
                                        selected
                                    {% endif %} >{{ subcategorie.name }}</option>
                                {% endfor %}


                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_title" style="padding-bottom: 10px">Title:</label>
                        <input value="{{ product.name_product }}" style="text-align: right" type="text" id="new_title"
                               name="new_title"
                               class="form-control"><br><br>
                        <label for="new_title_english" style="padding-bottom: 10px">English Title:</label>
                        <input value="{{ product.name_product_english }}" type="text" id="new_title_english"
                               name="new_title_english"
                               class="form-control">
                        <br><br>
                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                <div class="card" style="padding: 5px">
                                    <label for="new_image1" class="form-label"><h4 class="card-title">Upload Image
                                        Product
                                        1</h4></label>
                                    <input data-default-file="{{ product.image1.url }}" class="dropify" type="file"
                                           name="new_image1"
                                           id="new_image1"/>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="card" style="padding: 5px">


                                    <label for="new_image2" class="form-label"><h4 class="card-title">Upload Image
                                        Product
                                        2</h4></label>
                                    <input data-default-file="{{ product.image2.url }}" class="dropify" type="file"
                                           name="new_image2"
                                           id="new_image2"/>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="card" style="padding: 5px">


                                    <label for="new_image3" class="form-label"><h4 class="card-title">Upload Image
                                        Product
                                        3</h4>
                                    </label>
                                    <input data-default-file="{{ product.image3.url }}" class="dropify" type="file"
                                           name="new_image3"
                                           id="new_image3"/>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="card" style="padding: 5px">
                                    <label for="new_image4" class="form-label"><h4 class="card-title">Upload Image
                                        Product
                                        4</h4></label>
                                    <input data-default-file="{{ product.image4.url }}" type="file" name="new_image4"
                                           id="new_image4" class="dropify"/>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="padding: 5px">

                            <label for="new_video" class="form-label"><h4 class="card-title">Upload Video Product</h4>
                            </label>
                            <input data-default-file="{{ product.video.url }}" type="file" name="new_video"
                                   id="new_video"
                                   class="dropify"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 bt-switch">
                    <div class="m-b-30">
                        <div class="container">
                            <div class="row">
                                <div class="col-3">
                                    <label for="new_amazing_offer">
                                        <h5>Amazing Offer</h5>
                                        <input
                                                {% if product.amazing_offer == True %}
                                                    checked
                                                {% endif %}
                                                    id="new_amazing_offer" name="new_amazing_offer" type="checkbox"
                                                    data-on-color="info"
                                                    data-off-color="primary"
                                                    data-on-text="<i class='fa fa-check'></i>"
                                                    data-off-text="<i class='fa fa-times'></i>">
                                    </label>
                                </div>
                                <div class="col-3">
                                    <label for="new_our_suggestion">
                                        <h5>Our Suggestion</h5>
                                        <input {% if product.our_suggestion == True %}
                                            checked
                                        {% endif %} id="new_our_suggestion"
                                            name="new_our_suggestion" type="checkbox"
                                            data-on-color="info"
                                            data-off-color="primary"
                                            data-on-text="<i class='fa fa-check'></i>"
                                            data-off-text="<i class='fa fa-times'></i>">
                                    </label>
                                </div>
                                <div class="col-3">
                                    <label for="new_instant_sale">
                                        <h5>Instant Sale</h5>
                                        <input {% if product.instant_sale == True %}
                                            checked
                                        {% endif %} name="new_instant_sale" id="new_instant_sale" type="checkbox"
                                            data-on-color="info"
                                            data-off-color="primary"
                                            data-on-text="<i class='fa fa-check'></i>"
                                            data-off-text="<i class='fa fa-times'></i>">
                                    </label>
                                </div>
                                <div class="col-3">
                                    <label for="new_available">
                                        <h5>Available</h5>
                                        <input {% if product.available == True %}
                                            checked
                                        {% endif %} name="new_available" id="new_available" type="checkbox"
                                            data-on-color="info"
                                            data-off-color="primary"
                                            data-on-text="<i class='fa fa-check'></i>"
                                            data-off-text="<i class='fa fa-times'></i>">
                                    </label>
                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group m-b-0">
                                        <label class="form-label" for="new_number">Number</label>
                                        <input style="margin: -2px" id="new_number" type="text"
                                               value="{{ product.number }}"
                                               name="new_number"
                                               class="form-control"
                                               data-bts-button-down-class="btn btn-secondary btn-outline"
                                               data-bts-button-up-class="btn btn-secondary btn-outline"></div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group m-b-0">
                                        <label for="new_price" class="form-label">Price</label>
                                        <input style="margin: -2px" id="new_price" type="text"
                                               value="{{ product.price }}"
                                               name="new_price"
                                               class=" form-control"
                                               data-bts-button-down-class="btn btn-secondary btn-outline"
                                               data-bts-button-up-class="btn btn-secondary btn-outline"></div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="new_percent" class="form-label">Percent</label>
                                        <input style="margin: -2px" id="new_percent" type="text"
                                               value="{{ product.discount_percent }}"
                                               name="new_percent"
                                               data-bts-button-down-class="btn btn-secondary btn-outline"
                                               data-bts-button-up-class="btn btn-secondary btn-outline"></div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="new_to_day" style="padding-bottom: 10px">To Day:</label>
                                        <input placeholder="1402/8/28" style="margin: -2px"
                                               value="{{ product.discount_period }}" type="text"
                                               id="new_to_day" name="new_to_day"
                                               class="form-control"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" id="div_description">
                    <div class="form-group">
                        <label for="description" class="form-label">Description</label>
                        <textarea
                                required name="description" id="description" class="form-control"
                                rows="5">{{ product.description }}</textarea>
                    </div>
                    <script>CKEDITOR.replace('description');</script>
                    <hr>
                </div>

                <hr>
                <div id="text_description">
                    {% for title_tex,full_tex in text %}
                        <div class="col-md-12" id="div_{{ forloop.counter }}">
                            <div class="form-group">
                                <label for="title_text_{{ forloop.counter }}" class="form-label">
                                    <button type="submit" onclick="button_delete_func('div_{{ forloop.counter }}')"
                                            class="btn btn-danger text-white"><i class="fas fa-times"></i></button>
                                    <br><br>Title:
                                </label>
                                <input style="text-align: right" required type="text"
                                       id="title_text_{{ forloop.counter }}" value="{{ title_tex }}" name="new_title_text"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="text_{{ forloop.counter }}" class="form-label">Full Text</label>
                                <textarea
                                        required name="new_full_text" id="text_{{ forloop.counter }}" class="form-control"
                                        rows="5">{{ full_tex }}</textarea>
                            </div>
                            <script>CKEDITOR.replace('text_{{ forloop.counter }}');</script>
                            <hr>
                        </div>{% endfor %}


                </div>

                <div class="form-group">
                    <div class="row" id="color_product">
                        {% for color in colors %}
                            <div class="col-4" id="div_{{ forloop.counter }}">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-3"><label
                                                for="label_color_{{ forloop.counter }}">color:</label></div>
                                        <div class="col-6"><input value="{{ color }}"
                                                                  id="label_color_{{ forloop.counter }}" type="color"
                                                                  class="form-control d-block" name="new_color"></div>
                                        <div class="col-3">
                                            <button id="div_${time_div}"
                                                    onclick="button_delete_func('div_{{ forloop.counter }}')"
                                                    class="btn btn-danger text-white"><i class="fas fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>


                <div class="form-group">
                    <div class="row" id="size_product">
                        {% for size in sizes %}
                            <div class="col-4" id="div_{{ forloop.counter }}">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-3"><label for="label_size_{{ forloop.counter }}">size:</label></div>
                                        <div class="col-6"><input value="{{ size }}" id="label_size_{{ forloop.counter }}" type="text"
                                                                  class="form-control d-block" name="new_size"></div>
                                        <div class="col-3">
                                            <button id="div_{{ forloop.counter }}" onclick="button_delete_func('div_{{ forloop.counter }}')"
                                                    class="btn btn-danger text-white"><i class="fas fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>

                <div id="attribute_product">

                        <div id="attribute_product">
                            {% for attr_title,attr_value  in attrs %}
                            <div class="form-group">
                                <div class="row" id="div_{{ forloop.counter }}">
                                    <div class="col-1"><label for="label_title_{{ forloop.counter }}">Title:</label></div>
                                    <div class="col-3"><input value="{{ attr_title }}" type="text" class="form-control"
                                                              id="label_title_{{ forloop.counter }}" name="new_input_title"></div>
                                    <div class="col-1"><label for="label_value_{{ forloop.counter }}">attribute:</label></div>
                                    <div class="col-6"><input value="{{ attr_value }}" id="label_value_{{ forloop.counter }}" name="new_input_value"
                                                              type="text" class="form-control"></div>
                                    <div class="col-1">
                                        <button type="submit" onclick="button_delete_func('div_{{ forloop.counter }}')"
                                                class="btn btn-danger text-white"><i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}


                        </div>

                </div>


            </form>
            <br>
            <br>
            <div class="ms-auto mt-3 mt-md-0">
                <button
                        class="btn btn-primary text-white"
                        onclick="add_color()"> add color
                </button>
                <button
                        class="btn btn-secondary text-white"
                        onclick="add_size()"> add size
                </button>
                <button
                        class="btn btn-info text-white"
                        onclick="add_attribute()">add attribute
                </button>
                <button
                        class="btn btn-warning text-white"
                        onclick="add_text()">add text
                </button>

            </div>
            <br>

            <div class="ms-auto mt-3 mt-md-0">
                <button form="pr" type="submit"
                        class="btn btn-danger text-white">Submit
                </button>
            </div>
            <br>
            <br>

            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
{% endblock content %}
{% block script %}
    {#    upload     #}
    <script src="{% static 'back/assets/node_modules/dropify/dist/js/dropify.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            // Basic
            $('.dropify').dropify();

            // Translated
            $('.dropify-fr').dropify({
                messages: {
                    default: 'Glissez-déposez un fichier ici ou cliquez',
                    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                    remove: 'Supprimer',
                    error: 'Désolé, le fichier trop volumineux'
                }
            });

            // Used events
            var drEvent = $('#input-file-events').dropify();

            drEvent.on('dropify.beforeClear', function (event, element) {
                return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
            });

            drEvent.on('dropify.afterClear', function (event, element) {
                alert('File deleted');
            });

            drEvent.on('dropify.errors', function (event, element) {
                console.log('Has Errors');
            });

            var drDestroy = $('#input-file-to-destroy').dropify();
            drDestroy = drDestroy.data('dropify')
            $('#toggleDropify').on('click', function (e) {
                e.preventDefault();
                if (drDestroy.isDropified()) {
                    drDestroy.destroy();
                } else {
                    drDestroy.init();
                }
            })
        });
    </script>
    <script>
        function button_delete_func(div_id) {
            const c = document.getElementById(div_id)
            c.remove()
        }

        function add_color() {
            const div_col_4 = document.createElement("DIV");
            let time_div = new Date().getTime().toString();
            div_col_4.setAttribute('class', 'col-4');
            div_col_4.setAttribute("id", `div_${time_div}`);
            div_col_4.innerHTML = `<div class="form-group"><div class="row"><div class="col-3"><label for="label_color_${time_div}">color:</label></div><div class="col-6"><input value="#c50000" id="label_color_${time_div}" type="color" class="form-control d-block" name="new_color"></div><div class="col-3"><button id="div_${time_div}" onclick="button_delete_func('div_${time_div}')" class="btn btn-danger text-white"><i class="fas fa-times"></i></button></div></div></div></div>`
            document.getElementById('color_product').appendChild(div_col_4);
        }

        function add_size() {
            const div_col_4 = document.createElement("DIV");
            let time_div = new Date().getTime().toString();
            div_col_4.setAttribute('class', 'col-4');
            div_col_4.setAttribute("id", `div_${time_div}`);
            div_col_4.innerHTML = `<div class="form-group"><div class="row"><div class="col-3"><label for="label_size_${time_div}">size:</label></div><div class="col-6"><input id="label_size_${time_div}" type="text" class="form-control d-block" name="new_size"></div><div class="col-3"><button id="div_${time_div}" onclick="button_delete_func('div_${time_div}')" class="btn btn-danger text-white"><i class="fas fa-times"></i></button></div></div></div></div>`
            document.getElementById('size_product').appendChild(div_col_4);
        }

        function add_text() {
            const div_col_12 = document.createElement("DIV");
            const script_tag = document.createElement("SCRIPT");
            let time_div = new Date().getTime().toString();
            div_col_12.setAttribute('class', 'col-md-12');
            div_col_12.setAttribute("id", `div_${time_div}`);
            script_tag.innerHTML = `CKEDITOR.replace('text_${time_div}');`
            div_col_12.innerHTML = `<div class="form-group"><label for="title_text_${time_div}" class="form-label"><button form="pr" type="submit" onclick="button_delete_func('div_${time_div}')" class="btn btn-danger text-white"><i class="fas fa-times"></i></button><br><br>Title:</label><input style="text-align: right" required type="text"id="title_text_${time_div}" name="new_title_text" class="form-control"></div><div class="form-group"><label for="text_${time_div}" class="form-label">Full Text</label><textarea required name="new_full_text" id="text_${time_div}" class="form-control" rows="5"></textarea></div><hr>`
            div_col_12.appendChild(script_tag)
            document.getElementById('text_description').appendChild(div_col_12);
        }

        function add_attribute() {
            const div_form_group = document.createElement("DIV");
            let time_div = new Date().getTime().toString();
            div_form_group.innerHTML = `<div id="attribute_product"><div class="form-group"><div class="row" id="div_${time_div}"><div class="col-1"><label for="label_title_${time_div}">Title:</label></div><div class="col-3"><input type="text" class="form-control" id="label_title_${time_div}" name="new_input_title"></div><div class="col-1"><label for="label_value_${time_div}">attribute:</label></div><div class="col-6"><input id="label_value_${time_div}" name="new_input_value" type="text" class="form-control"></div><div class="col-1"><button form="pr" type="submit" onclick="button_delete_func('div_${time_div}')" class="btn btn-danger text-white"><i class="fas fa-times"></i></button></div></div></div></div>`
            document.getElementById('attribute_product').appendChild(div_form_group);
        }


    </script>
    {#  chekbox  #}
    <script src="{% static 'back/assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'back/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <script src="{% static 'back/assets/node_modules/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'back/assets/node_modules/bootstrap-switch/bootstrap-switch.min.js' %}"></script>
    <script type="text/javascript">
        $(".bt-switch input[type='checkbox'], .bt-switch input[type='radio']").bootstrapSwitch();
        var radioswitch = function () {
            var bt = function () {
                $(".radio-switch").on("switch-change", function () {
                    $(".radio-switch").bootstrapSwitch("toggleRadioState")
                }), $(".radio-switch").on("switch-change", function () {
                    $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck")
                }), $(".radio-switch").on("switch-change", function () {
                    $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck", !1)
                })
            };
            return {
                init: function () {
                    bt()
                }
            }
        }();
        $(document).ready(function () {
            radioswitch.init()
        });
    </script>
    {#     select2     #}
    <script src="{% static 'back/assets/node_modules/select2/dist/js/select2.full.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'back/assets/node_modules/bootstrap-select/bootstrap-select.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'back/assets/node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
    <script src="{% static 'back/assets/node_modules/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'back/assets/node_modules/dff/dff.js' %}" type="text/javascript"></script>
    <script type="text/javascript"
            src="{% static 'back/assets/node_modules/multiselect/js/jquery.multi-select.js' %}"></script>
    <script>
        $(function () {
            // Switchery
            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
            $('.js-switch').each(function () {
                new Switchery($(this)[0], $(this).data());
            });
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
            //Bootstrap-TouchSpin
            $(".vertical-spin").TouchSpin({
                verticalbuttons: true
            });
            var vspinTrue = $(".vertical-spin").TouchSpin({
                verticalbuttons: true
            });
            if (vspinTrue) {
                $('.vertical-spin').prev('.bootstrap-touchspin-prefix').remove();
            }
            $("input[name='new_percent']").TouchSpin({
                min: 0,
                max: 100,
                step: 0.1,
                decimals: 2,
                boostat: 5,
                maxboostedstep: 10,
                postfix: '%'
            });
            $("input[name='new_price']").TouchSpin({
                min: -1000000000,
                max: 1000000000,
                stepinterval: 50,
                maxboostedstep: 10000000,
                prefix: 'IRR'
            });
            $("input[name='new_number']").TouchSpin({
                min: -1000000000,
                max: 1000000000,
                stepinterval: 50,
                maxboostedstep: 10000000,

            });
            $("input[name='tch3']").TouchSpin();
            $("input[name='tch3_22']").TouchSpin({
                initval: 40
            });
            $("input[name='tch5']").TouchSpin({
                prefix: "pre",
                postfix: "post"
            });
            // For multiselect
            $('#pre-selected-options').multiSelect();
            $('#optgroup').multiSelect({
                selectableOptgroup: true
            });
            $('#public-methods').multiSelect();
            $('#select-all').click(function () {
                $('#public-methods').multiSelect('select_all');
                return false;
            });
            $('#deselect-all').click(function () {
                $('#public-methods').multiSelect('deselect_all');
                return false;
            });
            $('#refresh').on('click', function () {
                $('#public-methods').multiSelect('refresh');
                return false;
            });
            $('#add-option').on('click', function () {
                $('#public-methods').multiSelect('addOption', {
                    value: 42,
                    text: 'test 42',
                    index: 0
                });
                return false;
            });
            $(".ajax").select2({
                ajax: {
                    url: "https://api.github.com/search/repositories",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        // parse the results into the format expected by Select2
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data, except to indicate that infinite
                        // scrolling can be used
                        params.page = params.page || 1;
                        return {
                            results: data.items,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) {
                    return markup;
                }, // let our custom formatter work
                minimumInputLength: 1,
                //templateResult: formatRepo, // omitted for brevity, see the source of this page
                //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
            });
        });
    </script>


{% endblock %}
