{% extends 'back/base.html' %}
{% load static %}
{% load custom_tag %}
{% block excss %}
    <style>

        .draggable-table {
            top: 25%;
            left: 20%;
            border-collapse: collapse;
        }

        .draggable-table__drag {
            font-size: .95em;
            font-weight: lighter;
            text-transform: capitalize;
            position: absolute;
            width: 100%;
            border: 1px solid #f1f1f1;
            z-index: 20;
            cursor: grabbing;
            opacity: 1;
        }


        thead {

        th {
            height: 25px;
            font-weight: bold;
            text-transform: capitalize;
            padding: 3px 5px 10px 10px !important;

        }

        }

        tbody {

        tr {
            cursor: grabbing;

        td {
            font-size: .95em;
            font-weight: lighter;
            text-transform: capitalize;
            padding: 20px 5px 10px 10px !important;
            user-select: none;
            border-top: 1px solid #353c48;
        }

        }


        tr.is-dragging {
            background: #272c36;

        td {
            color: #8cb8d6;
        }

        }

        }
        }

    </style>
{% endblock %}
{% block content %}

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        {% include 'back/partials/_alert.html' %}

                        <div class="card-body">
                            <h4 class="card-title">FAQ List</h4>
                        </div>


                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title">Questions List</h4>

                                <div class="table-responsive">

                                    <table id="table" class="draggable-table table color-table success-table">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center;width: 5%">#</th>
                                            <th style="text-align: center;width: 5%">Sort</th>
                                            <th style="text-align: center;width: 30%">User</th>
                                            <th style="text-align: center;width: 10%">Date</th>
                                            <th style="text-align: center;width: 10%">Status</th>
                                            <th style="text-align: center;width: 10%">FAQ</th>
                                            <th style="text-align: center;width: 30%">Action</th>
                                            <th>
                                                <form id="myform" method="post"
                                                      action="{% url 'panel_sort_question' pk_faq %}">
                                                    {% csrf_token %}
                                                    <div class="ms-auto mt-3 mt-md-0">
                                                        <button
                                                                class="btn btn-dark text-white">Update
                                                        </button>
                                                    </div>
                                                </form>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>


                                        {% for question in questions %}

                                            <tr data-id="13">
                                                <td style="text-align: center">{{ forloop.counter }}</td>
                                                <td style="text-align: center">{{ question.sort }}</td>


                                                <td style="text-align: center">{{ question.user }}</td>
                                                <td style="text-align: center">{{ question.date|filter_date:19 }}</td>
                                                <td style=" text-align: center">
                                                    {% if question.status == True %}
                                                        <a style="padding: 5px 9px;"
                                                           href="#"
                                                           class="btn btn-success text-white"><i
                                                                class="fa fa-check"></i></a>
                                                    {% else %}
                                                        <a style="padding: 5px 11px;"
                                                           href="#"
                                                           class="btn btn-danger text-white"><i
                                                                class="fa fa-times"></i></a>
                                                    {% endif %}</td>
                                                <td style=" text-align: center">

                                                    {% if question.faq == True %}
                                                        <a style="padding: 5px 9px;"
                                                           href="#"
                                                           class="btn btn-success text-white"><i
                                                                class="fa fa-check"></i></a>
                                                    {% else %}
                                                        <a style="padding: 5px 11px;"
                                                           href="#"
                                                           class="btn btn-danger text-white"><i
                                                                class="fa fa-times"></i></a>
                                                    {% endif %}</td>
                                                <td style="text-align: center">
                                                    <input type="hidden" value="{{ question.pk }}" form="myform"
                                                           name="sort"
                                                           class="sort">

                                                    <a style="padding: 6px 9px;"
                                                       href="{% url 'panel_details_question' question.pk %}"
                                                       class="btn btn-warning text-white"> <i
                                                            class="fa fa-edit"></i></a>
                                                    <a style="padding: 6px 11px;" class="btn btn-danger text-white"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#modal-delete-{{ question.pk }}">
                                                        <i class="fa fa-trash"></i></a>
                                                </td>
                                                <td></td>

                                                <!--########################################################### modal delete ######################################################################-->
                                                <div id="modal-delete-{{ question.pk }}" class="modal" tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" id="myModalLabel">Delete
                                                                    Category</h4>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-hidden="true"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h4>Are you sure!!!</h4>
                                                                <p>Are you sure you want to delete the questions?</p>
                                                                <p>Text: {{ question.text }}</p>
                                                                <p>Number: {{ forloop.counter }}</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a class="btn btn-danger text-white"
                                                                   href="{% url 'panel_delete_question' question.pk %}">Delete</a>
                                                                <button type="button"
                                                                        class="btn btn-info text-white"
                                                                        data-bs-dismiss="modal">Cancel
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <!-- /.modal-content -->
                                                    </div>
                                                    <!-- /.modal-dialog -->
                                                </div>

                                            </tr>

                                        {% endfor %}


                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->

            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->

        </div>

    </div>
{% endblock content %}

{% block script %}
    <script>(function () {
        "use strict";

        const table = document.getElementById('table');
        const tbody = table.querySelector('tbody');

        var currRow = null,
            dragElem = null,
            mouseDownX = 0,
            mouseDownY = 0,
            mouseX = 0,
            mouseY = 0,
            mouseDrag = false;

        function init() {
            bindMouse();
        }

        function bindMouse() {
            document.addEventListener('mousedown', (event) => {
                if (event.button != 0) return true;

                let target = getTargetRow(event.target);
                if (target) {
                    currRow = target;
                    addDraggableRow(target);
                    currRow.classList.add('is-dragging');


                    let coords = getMouseCoords(event);
                    mouseDownX = coords.x;
                    mouseDownY = coords.y;

                    mouseDrag = true;
                }
            });

            document.addEventListener('mousemove', (event) => {
                if (!mouseDrag) return;

                let coords = getMouseCoords(event);
                mouseX = coords.x - mouseDownX;
                mouseY = coords.y - mouseDownY;

                moveRow(mouseX, mouseY);
            });

            document.addEventListener('mouseup', (event) => {
                if (!mouseDrag) return;

                currRow.classList.remove('is-dragging');
                table.removeChild(dragElem);

                dragElem = null;
                mouseDrag = false;
            });
        }


        function swapRow(row, index) {
            let currIndex = Array.from(tbody.children).indexOf(currRow),
                row1 = currIndex > index ? currRow : row,
                row2 = currIndex > index ? row : currRow;

            tbody.insertBefore(row1, row2);
        }

        function moveRow(x, y) {
            dragElem.style.transform = "translate3d(" + x + "px, " + y + "px, 0)";

            let dPos = dragElem.getBoundingClientRect(),
                currStartY = dPos.y, currEndY = currStartY + dPos.height,
                rows = getRows();

            for (var i = 0; i < rows.length; i++) {
                let rowElem = rows[i],
                    rowSize = rowElem.getBoundingClientRect(),
                    rowStartY = rowSize.y, rowEndY = rowStartY + rowSize.height;

                if (currRow !== rowElem && isIntersecting(currStartY, currEndY, rowStartY, rowEndY)) {
                    if (Math.abs(currStartY - rowStartY) < rowSize.height / 2)
                        swapRow(rowElem, i);
                }
            }
        }

        function addDraggableRow(target) {
            dragElem = target.cloneNode(true);
            dragElem.classList.add('draggable-table__drag');
            dragElem.style.height = getStyle(target, 'height');
            dragElem.style.background = getStyle(target, 'backgroundColor');
            for (var i = 0; i < target.children.length; i++) {
                let oldTD = target.children[i],
                    newTD = dragElem.children[i];
                newTD.style.width = getStyle(oldTD, 'width');
                newTD.style.height = getStyle(oldTD, 'height');
                newTD.style.padding = getStyle(oldTD, 'padding');
                newTD.style.margin = getStyle(oldTD, 'margin');
            }

            table.appendChild(dragElem);


            let tPos = target.getBoundingClientRect(),
                dPos = dragElem.getBoundingClientRect();
            dragElem.style.bottom = ((dPos.y - tPos.y) - tPos.height) + "px";
            dragElem.style.left = "-1px";

            document.dispatchEvent(new MouseEvent('mousemove',
                {view: window, cancelable: true, bubbles: true}
            ));
        }


        function getRows() {
            return table.querySelectorAll('tbody tr');
        }

        function getTargetRow(target) {
            let elemName = target.tagName.toLowerCase();

            if (elemName == 'tr') return target;
            if (elemName == 'td') return target.closest('tr');
        }

        function getMouseCoords(event) {
            return {
                x: event.clientX,
                y: event.clientY
            };
        }

        function getStyle(target, styleName) {
            let compStyle = getComputedStyle(target),
                style = compStyle[styleName];

            return style ? style : null;
        }

        function isIntersecting(min0, max0, min1, max1) {
            return Math.max(min0, max0) >= Math.min(min1, max1) &&
                Math.min(min0, max0) <= Math.max(min1, max1);
        }


        init();

    })();</script>
    <script>
        function sort_menu() {
            var x = document.getElementsByClassName('#sort')
            console.log(x)
        }
    </script>
    <script>function updateScroll() {
        var element = document.getElementById("message");
        element.scrollTop = element.scrollHeight;
    }</script>
{% endblock %}
