<!-- chat/templates/chat/room.html -->
{% extends 'front/base.html' %}
{% load static %}
{% load custom_tag %}
{% block content %}
    <main class="main-content dt-sl mb-3">
        <div class="container main-container">
            <!-- Start Product -->
            <div class="dt-sn mb-5 dt-sl">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-ui dt-sl">
                            <section class="rounded" id="message" style="
                                    background: no-repeat url({% static 'front/assets/img/back-smal.jpg' %});
                                    width: 100%;
                                    background-repeat: round;
                                    height: 500px;
                                    overflow-y: hidden;
                                    overflow-x: hidden;
                                    padding: 20px;">
                                <div class="ah-tab-wrapper dt-sl">
                                    <div class="row">
                                        {% for suppor in supports %}
                                            <a href="{% url 'room' request.user.username suppor.pk %}"
                                               class="col-md-12 btn btn-warning text-white ah-tab-item border"
                                               style="margin-bottom: 5px"> {{ suppor.first_name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Product -->
        </div>
    </main>
    {#<input id="chat-message-input" type="text" size="100"><br>#}
    {#<input id="chat-message-submit" form="id-3" type="button" value="Send">#}
{% endblock %}




