{% extends 'front/base.html' %}
{% load humanize %}
{% load static %}
{% load custom_tag %}
{% block content %}
    <main class="main-content dt-sl mb-3">
        <div class="container main-container">
            <div class="row">
                <!-- Start Sidebar -->
                {% include 'front/partials/_profile_sidebar.html' %}
                <!-- End Sidebar -->
                <!-- Start Content -->
                <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12">
                            <div class="px-3">
                                <div
                                        class="section-title text-sm-title title-wide mb-1 no-after-title-wide dt-sl mb-2">
                                    <h2>اطلاعات شخصی</h2>
                                </div>
                                <div class="profile-section dt-sl">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="label-info">
                                                <span>نام و نام خانوادگی:</span>
                                            </div>
                                            <div class="value-info">
                                                <span>{{ myuser.first_name }} {{ myuser.last_name }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="label-info">
                                                <span>پست الکترونیک:</span>
                                            </div>
                                            <div class="value-info">
                                                <span>{{ myuser.email }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="label-info">
                                                <span>شماره تلفن همراه:</span>
                                            </div>
                                            <div class="value-info">
                                                <span>{{ myuser.phone_number }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="label-info">
                                                <span>کد ملی:</span>
                                            </div>
                                            <div class="value-info">
                                                <span>{{ myuser.national_number }}</span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-12">
                                            <div class="label-info">
                                                <span>شماره کارت:</span>
                                            </div>
                                            <div class="value-info">
                                                <span>{{ myuser.card_number }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-section-link">
                                        <a href="#" class="border-bottom-dt">
                                            <i class="mdi mdi-account-edit-outline"></i>
                                            ویرایش اطلاعات شخصی
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12">
                            <div class="px-3">
                                <div
                                        class="section-title text-sm-title title-wide mb-1 no-after-title-wide dt-sl mb-2">
                                    <h2>لیست آخرین علاقه‌مندی‌ها</h2>
                                </div>
                                <div class="profile-section dt-sl">
                                    <ul class="list-favorites">
                                        {% if my_favorites %}
                                            {% for my_favorite in my_favorites %}
                                                <li>
                                                    <a href="{% url 'single_product' my_favorite.name_product %}">
                                                        <img src="{{ my_favorite.image1.url }}" alt="">
                                                        <span>{{ my_favorite.name_product }}</span>
                                                    </a>
                                                    <button>
                                                        <i class="mdi mdi-trash-can-outline"></i>
                                                    </button>
                                                </li>
                                            {% endfor %}

                                        {% endif %}


                                    </ul>
                                    <div class="profile-section-link">
                                        <a href="#" class="border-bottom-dt">
                                            <i class="mdi mdi-square-edit-outline"></i>
                                            مشاهده و ویرایش لیست مورد علاقه
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <div
                                    class="section-title text-sm-title title-wide mb-1 no-after-title-wide dt-sl mb-2 px-res-1">
                                <h2>آخرین سفارش‌ها</h2>
                            </div>
                            <div class="dt-sl">
                                <div class="table-responsive">
                                    <table class="table table-order">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>شماره سفارش</th>
                                            <th>تاریخ ثبت سفارش</th>
                                            <th>مبلغ قابل پرداخت</th>

                                            <th>عملیات پرداخت</th>
                                            <th>جزییات</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for cart in carts %}
                                         <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ cart.order_code }}</td>
                                            <td>{{ cart.date |filter_date:19 }}</td>

                                            <td> {{ cart.price|intcomma }} تومان </td>
                                            <td>{% if cart.status == True %}
                                            تایید شده
                                                {% else %}
                                                تایید نشده
                                            {% endif %}
                                            </td>
                                            <td class="details-link">
                                                <a href="#">
                                                    <i class="mdi mdi-chevron-left"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}



                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Content -->
            </div>

        </div>
    </main>
{% endblock content %}

