{% extends 'front/base.html' %}

{% load static %}
{% load custom_tag %}
{% block exscript %}
    <script src="{% static 'back/dist/js/helpers/ckeditor/ckeditor.js' %}"></script>
{% endblock %}
{% block content %}
    <main class="main-content dt-sl mb-3">
        <div class="container main-container">
            <div class="row">
                <!-- Start Sidebar -->
                {% include 'front/partials/_profile_sidebar.html' %}

                <!-- End Sidebar -->
                <!-- Start Content -->
                <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
                    <div class="row">

                        <div class="col-12 mt-4">
                            <div class="comments-area default">
                                <div
                                        class="section-title text-sm-title title-wide no-after-title-wide mt-5 mb-0 dt-sl">
                                    <h2>پرسش ها و پاسخ ها</h2>
                                    <p class="count-comment">{{ number }} پرسش و پاسخ</p>
                                </div>
                            {% if answertickets %}
                            	 <ol class="comment-list">
                                    {% for answerticket in answertickets %}
                                        <li>
                                            <div class="comment-body">
                                                <div class="comment-author">
                                                    {% if answerticket.type_user == 'user' %}
                                                        <span class="icon-comment">?</span>
                                                        <cite class="fn">شما</cite>
                                                        <span class="says">گفتین:</span>

                                                    {% else %}
                                                        <span class="icon-comment mdi mdi-lightbulb-on-outline"></span>
                                                        <cite class="fn">مدیر</cite>
                                                        <span class="says">گفت:</span>
                                                    {% endif %}

                                                    <div class="commentmetadata">
                                                        <a href="#">
                                                            {{ answerticket.date |filter_date:19 }}
                                                        </a>
                                                    </div>
                                                </div>


                                                <p>{{ answerticket.text|safe }}</p>

                                            </div>
                                        </li>
                                    {% endfor %}

                                    <!-- #comment-## -->

                                    <!-- #comment-## -->
                                </ol>
                            {% endif %} 
                               
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-ui dt-sl">
                                <form style="max-width: 100%" class="form-account"
                                      action="{% url 'profile_tickets_detail' ticket.pk %}"
                                      method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="type_user" value="user">
                                    <div class="row">

                                        <div class="col-12 mb-2">
                                            <div class="form-row-title">
                                                <h4>
                                                    ارسال پاسخ
                                                </h4>
                                            </div>
                                            <div class="form-row">
                                                    <textarea id="text_ticket" name="text"
                                                              class="input-ui pr-2 text-right"
                                                              placeholder="پاسخ خود را بنویسید!!!"></textarea>

                                                <script>CKEDITOR.replace('text_ticket');</script>
                                            </div>
                                        </div>
                                        <div class="col-12 pr-4 pl-4">
                                            <button type="submit" class="btn btn-sm btn-primary btn-submit-form">ثبت
                                                پاسخ
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>


                <!-- End Content -->
            </div>

        </div>
    </main>


{% endblock content %}

