{% extends 'front/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <main class="main-content dt-sl mb-3">
        <div class="container main-container">
            <div class="row">
                <!-- Start Sidebar -->
                <div class="col-lg-3 col-md-12 col-sm-12 sticky-sidebar filter-options-sidebar">
                    <div class="d-md-none">
                        <div class="header-filter-options">
                            <span>جستجوی پیشرفته <i class="fad fa-sliders-h"></i></span>
                            <button class="btn-close-filter-sidebar"><i class="fal fa-times"></i></button>
                        </div>
                    </div>
                    <div class="dt-sn dt-sn--box mb-3">
                        <form action="">
                            <div class="col-12">
                                <div class="section-title text-sm-title title-wide mb-1 no-after-title-wide">
                                    <h2>فیلتر محصولات</h2>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="widget-search">
                                    <input type="text" name="s"
                                           placeholder="نام محصول یا برند مورد نظر را بنویسید...">
                                    <button class="btn-search-widget">
                                        <img src="./assets/img/theme/search.png" alt="">
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 filter-product mb-3">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="btn btn-block text-right collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseOne"
                                                        aria-expanded="false" aria-controls="collapseOne">
                                                    دسته بندی
                                                    <i class="mdi mdi-chevron-down"></i>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                             data-parent="#accordionExample">
                                            <div class="card-body">
                                                {% for group in groups %}
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" name="group" class="custom-control-input"
                                                           id="group-{{ group.pk }}">
                                                    <label class="custom-control-label" for="group-{{ group.pk }}">
                                                        {{ group.name }}</label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h2 class="mb-0">
                                                <button class="btn btn-block text-right collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                    برند
                                                    <i class="mdi mdi-chevron-down"></i>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                             data-parent="#accordionExample">
                                            <div class="card-body">
                                                {% for subcategory in subcategories %}
                                                 <div class="custom-control custom-checkbox">
                                                    <input name="sub_cat" type="checkbox" class="custom-control-input"
                                                           id="sub_cat-{{ subcategory.pk }}">
                                                    <label class="custom-control-label"
                                                           for="sub_cat-{{ subcategory.pk }}">{{ subcategory.name }}</label>
                                                </div>
                                                {% endfor %}



                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingFour">
                                            <h2 class="mb-0">
                                                <button class="btn btn-block text-right collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseFour"
                                                        aria-expanded="false" aria-controls="collapseFour">
                                                    رنگها
                                                    <i class="mdi mdi-chevron-down"></i>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                             data-parent="#accordionExample">
                                            <div class="card-body">
                                                {% for color in colors %}
                                                <div class="custom-control custom-checkbox">
                                                    <input name="color" type="checkbox" class="custom-control-input"
                                                           id="color-{{ forloop.counter }}">
                                                    <label class="custom-control-label" for="color-{{ forloop.counter }}">
                                                        <span  class="filter-color"
                                                          style="margin-top: 0px ;padding:10px;margin-left: -15px ;background-color: {{ color }}"></span></label>

                                                </div>
                                                {% endfor %}



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-info btn-block" type="submit">
                                    فیلتر
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Sidebar -->
                <!-- Start Content -->
                <div class="col-lg-9 col-md-12 col-sm-12 search-card-res">
                    <div class="d-md-none">
                        <button class="btn-filter-sidebar">
                            جستجوی پیشرفته <i class="fad fa-sliders-h"></i>
                        </button>
                    </div>
                    <div class="dt-sl dt-sn px-0 search-amazing-tab">
                        <div class="ah-tab-wrapper dt-sl">
                            <div class="ah-tab dt-sl">
                                <a class="ah-tab-item" data-ah-tab-active="true" href="#">جدید ترین</a>
                                <a class="ah-tab-item" href="#">پربازدید ترین</a>
                                {% if 'search' in request.path %}
                                    <a class="ah-tab-item" href="#">مرتبط ترین</a>
                                {% endif %}

                                <a class="ah-tab-item" href="#">پرفروش ترین</a>
                                <a class="ah-tab-item" href="#">ارزان ترین</a>
                                <a class="ah-tab-item" href="#">گران ترین</a>
                            </div>
                        </div>
                        <div class="ah-tab-content-wrapper dt-sl px-res-0">
                            <div class="ah-tab-content dt-sl" data-ah-tab-active="true">
                                <div class="row mb-3 mx-0 px-res-0">
                                    {% for products_new in products_news %}
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-10 mb-1 px-res-0">
                                            <div class="product-card mb-2 mx-res-0">
                                                <div class="product-head">
                                                    <div class="rating-stars">
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                    </div>
                                                </div>
                                                <a class="product-thumb"
                                                   href="{% url 'single_product' products_new.name_product %}">
                                                    <img src="{{ products_new.image1.url }}"
                                                         alt="{{ products_new.image1 }}">
                                                </a>
                                                <div class="product-card-body">
                                                    <h5 class="product-title">
                                                        <a href="{% url 'single_product' products_new.name_product %}">{{ products_new.name_product }}</a>
                                                    </h5>
                                                    <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                                    <span class="product-price">{{ products_new.discounted_price |intcomma }} تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}


                                </div>
                            </div>
                            {% if 'search' in request.path %}
                                <div class="ah-tab-content dt-sl">
                                    <div class="row mb-3 mx-0 px-res-0">
                                        {% for products_new in products_news %}
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-10 mb-1 px-res-0">
                                                <div class="product-card mb-2 mx-res-0">
                                                    <div class="product-head">
                                                        <div class="rating-stars">
                                                            <i class="mdi mdi-star active"></i>
                                                            <i class="mdi mdi-star active"></i>
                                                            <i class="mdi mdi-star active"></i>
                                                            <i class="mdi mdi-star active"></i>
                                                            <i class="mdi mdi-star active"></i>
                                                        </div>
                                                    </div>
                                                    <a class="product-thumb"
                                                       href="{% url 'single_product' products_new.name_product %}">
                                                        <img src="{{ products_new.image1.url }}"
                                                             alt="{{ products_new.image1 }}">
                                                    </a>
                                                    <div class="product-card-body">
                                                        <h5 class="product-title">
                                                            <a href="{% url 'single_product' products_new.name_product %}">{{ products_new.name_product }}</a>
                                                        </h5>
                                                        <a class="product-meta" href="shop-categories.html">لباس
                                                            زنانه</a>
                                                        <span class="product-price">{{ products_new.discounted_price |intcomma }} تومان</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}


                                    </div>
                                </div>
                            {% endif %}
                            <div class="ah-tab-content dt-sl">
                                <div class="row mb-3 mx-0 px-res-0">
                                    {% for products_view in products_views %}
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-10 mb-1 px-res-0">
                                            <div class="product-card mb-2 mx-res-0">
                                                <div class="product-head">
                                                    <div class="rating-stars">
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                    </div>
                                                </div>
                                                <a class="product-thumb"
                                                   href="{% url 'single_product' products_view.name_product %}">
                                                    <img src="{{ products_view.image1.url }}"
                                                         alt="{{ products_view.image1 }}">
                                                </a>
                                                <div class="product-card-body">
                                                    <h5 class="product-title">
                                                        <a href="{% url 'single_product' products_view.name_product %}">{{ products_view.name_product }}</a>
                                                    </h5>
                                                    <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                                    <span class="product-price">{{ products_view.discounted_price |intcomma }} تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}


                                </div>

                            </div>
                            <div class="ah-tab-content dt-sl">
                                <div class="row mb-3 mx-0 px-res-0">
                                    {% for products_sal in products_sales %}
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-10 mb-1 px-res-0">
                                            <div class="product-card mb-2 mx-res-0">
                                                <div class="product-head">
                                                    <div class="rating-stars">
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                    </div>
                                                </div>
                                                <a class="product-thumb"
                                                   href="{% url 'single_product' products_sal.name_product %}">
                                                    <img src="{{ products_sal.image1.url }}"
                                                         alt="{{ products_sal.image1 }}">
                                                </a>
                                                <div class="product-card-body">
                                                    <h5 class="product-title">
                                                        <a href="{% url 'single_product' products_sal.name_product %}">{{ products_sal.name_product }}</a>
                                                    </h5>
                                                    <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                                    <span class="product-price">{{ products_sal.discounted_price |intcomma }} تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}


                                </div>

                            </div>
                            <div class="ah-tab-content dt-sl">
                                <div class="row mb-3 mx-0 px-res-0">
                                    {% for products_expensive in products_expensives %}
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-10 mb-1 px-res-0">
                                            <div class="product-card mb-2 mx-res-0">
                                                <div class="product-head">
                                                    <div class="rating-stars">
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                    </div>
                                                </div>
                                                <a class="product-thumb"
                                                   href="{% url 'single_product' products_expensive.name_product %}">
                                                    <img src="{{ products_expensive.image1.url }}"
                                                         alt="{{ products_expensive.image1 }}">
                                                </a>
                                                <div class="product-card-body">
                                                    <h5 class="product-title">
                                                        <a href="{% url 'single_product' products_expensive.name_product %}">{{ products_expensive.name_product }}</a>
                                                    </h5>
                                                    <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                                    <span class="product-price">{{ products_expensive.discounted_price |intcomma }} تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}


                                </div>

                            </div>
                            <div class="ah-tab-content dt-sl">
                                <div class="row mb-3 mx-0 px-res-0">
                                    {% for products_inexpensive in products_inexpensives %}
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-10 mb-1 px-res-0">
                                            <div class="product-card mb-2 mx-res-0">
                                                <div class="product-head">
                                                    <div class="rating-stars">
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                    </div>
                                                </div>
                                                <a class="product-thumb"
                                                   href="{% url 'single_product' products_inexpensive.name_product %}">
                                                    <img src="{{ products_inexpensive.image1.url }}"
                                                         alt="{{ products_inexpensive.image1 }}">
                                                </a>
                                                <div class="product-card-body">
                                                    <h5 class="product-title">
                                                        <a href="{% url 'single_product' products_inexpensive.name_product %}">{{ products_inexpensive.name_product }}</a>
                                                    </h5>
                                                    <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                                    <span class="product-price">{{ products_inexpensive.discounted_price |intcomma }} تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Content -->
            </div>
        </div>
    </main>

{% endblock content %}