{% extends 'front/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <header class="header-shopping dt-sl">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center pt-2">
                    <div class="header-shopping-logo dt-sl">
                        <a href="{% url 'index' %}">
                            <img src="{{ main.logo.url }}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <ul class="checkout-steps">
                        <li>
                            <a href="#" class="active">
                                <span>اطلاعات ارسال</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#" class="active">
                                <span>پرداخت</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>اتمام خرید و ارسال</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- End header-shopping -->
    <!-- Start main-content -->
    <main class="main-content dt-sl mt-4 mb-3">
        <div class="container main-container">
            <div class="row">
                <div class="cart-page-content col-xl-9 col-lg-8 col-12 px-0">
                    <section class="page-content dt-sl">

                        <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 px-res-1">
                            <h2>خلاصه سفارش</h2>
                        </div>
                        <div class="dt-sn dt-sn--box pt-3 pb-3">
                            <div class="checkout-order-summary">
                                <div class="accordion checkout-order-summary-item" id="accordionExample">
                                    <div class="card border-bottom pt-sl-res">
                                        <div class="card-header checkout-order-summary-header" id="headingOne">
                                            <div class="row">
                                                <div class="col-md-6">
                                                        <span class="text-muted">
                                                            مرسوله ها
                                                        </span>
                                                </div>

                                                <div class="col-md-6">
                                                        <span class="text-muted">
                                                            <span>ارسال از</span>
                                                            <span class="fs-sm">
                                                                2 روز کاری
                                                            </span>
                                                        </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="box">
                                            <div class="row">
                                                {% if products %}
                                                    {% for product in products %}
                                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                                            <div class="product-box-container">
                                                                <div class="product-box product-box-compact">
                                                                    <a class="product-box-img">
                                                                        <img src="{{ product.image1.url }}">
                                                                    </a>
                                                                    <div class="product-box-title">
                                                                        {{ product.name_product }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}

                                                {% endif %}


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5">
                            <a href="{% url 'shopping' %}" class="float-right border-bottom-dt"><i
                                    class="mdi mdi-chevron-double-right"></i>بازگشت به شیوه ارسال</a>
                            <form action="{% url 'shopping_complete_buy' %}" id="my_shopping_complete_buy"
                                  method="post">{% csrf_token %}</form>
                            <a href="javascript:document.getElementById('my_shopping_complete_buy').submit()"
                               class="float-left border-bottom-dt">ثبت نهایی سفارش<i
                                    class="mdi mdi-chevron-double-left"></i></a>
                        </div>
                    </section>
                </div>
                <div class="col-xl-3 col-lg-4 col-12 w-res-sidebar sticky-sidebar">
                    <div class="dt-sn dt-sn--box border mb-2">
                        <ul class="checkout-summary-summary">
                            <li>
                                <span>مبلغ کل </span><span>{{ context_processor_carts.price | intcomma }} تومان</span>
                            </li>

                            <li>
                               <span>هزینه ارسال<span class="help-sn" data-toggle="tooltip"
                                                      data-html="true" data-placement="bottom"
                                                      title="<div class='help-container is-right'><div class='help-arrow'></div><p class='help-text'>هزینه ارسال مرسولات می‌تواند وابسته به شهر و آدرس گیرنده متفاوت باشد. در صورتی که هر یک از مرسولات حداقل ارزشی برابر با ۱۵۰هزار تومان داشته باشد، آن مرسوله بصورت رایگان ارسال می‌شود.<br>'حداقل ارزش هر مرسوله برای ارسال رایگان، می تواند متغیر باشد.'</p></div>">
                                    <span class="mdi mdi-information-outline"></span>
                               </span></span><span>وابسته به آدرس</span>
                            </li>

                        </ul>
                        <div class="checkout-summary-devider">
                            <div></div>
                        </div>
                        <div class="checkout-summary-content">
                            <div class="checkout-summary-price-title">مبلغ قابل پرداخت:</div>
                            <div class="checkout-summary-price-value">
                                <span class="checkout-summary-price-value-amount">{{ context_processor_carts.price | intcomma }}</span>
                                تومان
                            </div>
                            <a href="#" class="mb-2 d-block">
                                <form action="{% url 'shopping_complete_buy' %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn-primary-cm btn-with-icon w-100 text-center pr-0">
                                        <i class="mdi mdi-arrow-left"></i>
                                        ادامه ثبت سفارش

                                    </button>
                                </form>
                            </a>
                            <div>
                                                    <span>
                                                        کالاهای موجود در سبد شما ثبت و رزرو نشده‌اند، برای ثبت سفارش
                                                        مراحل بعدی را تکمیل کنید.
                                                    </span><span class="help-sn" data-toggle="tooltip" data-html="true"
                                                                 data-placement="bottom"
                                                                 title="<div class='help-container is-right'><div class='help-arrow'></div><p class='help-text'>محصولات موجود در سبد خرید شما تنها در صورت ثبت و پرداخت سفارش برای شما رزرو می‌شوند. در صورت عدم ثبت سفارش، دیجی‌کالا هیچگونه مسئولیتی در قبال تغییر قیمت یا موجودی این کالاها ندارد.</p></div>">
                                                        <span class="mdi mdi-information-outline"></span>
                                                    </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <!-- End main-content -->
{% endblock content %}
