{% extends 'front/base.html' %}
{% load static %}
{% load humanize %}
{% load custom_tag %}
{% block content %}
    <main class="main-content dt-sl mb-3">
        <div class="container main-container">
            <!-- Start title - breadcrumb -->
            <div class="title-breadcrumb-special dt-sl mb-3">
                <div class="breadcrumb dt-sl">
                    <nav>
                        <a href="{% url 'product_group_category_subcategory' product.group %}">{{ product.group }}</a>
                        <a href="{% url 'product_group_category_subcategory' product.category %}">{{ product.category }}</a>
                        <a href="{% url 'product_group_category_subcategory' product.sub_category %}">{{ product.sub_category }}</a>
                    </nav>
                </div>
            </div>
            <!-- End title - breadcrumb -->
            <!-- Start Product -->
            <div class="dt-sn mb-5 dt-sl">
                <div class="row">
                    <!-- Product Gallery-->
                    <div class="col-lg-4 col-md-6 ps-relative">
                        <!-- Product Options-->
                        <ul class="gallery-options">
                            <li>
                                <button id="myfav" onclick="myfavorite()"
                                        class="add-favorites {% if my_favorite.status == '1' %}favorites
                                {% endif %}"><i class="mdi mdi-heart"></i></button>
                                <span class="tooltip-option">افزودن به علاقمندی</span>
                            </li>
                        </ul>
                        <div class="product-timeout position-relative pt-5 mb-3">
                            <div class="promotion-badge">
                                فروش ویژه
                            </div>
                            <div class="countdown-timer" countdown
                                 data-date="{{ product.discount_period |filter_date_difference }} 00:00:00">
                                <span data-days>0</span>:
                                <span data-hours>0</span>:
                                <span data-minutes>0</span>:
                                <span data-seconds>0</span>
                            </div>
                        </div>
                        <div class="product-gallery">
                            <span class="badge">پر فروش</span>
                            <div class="product-carousel owl-carousel" data-slider-id="1">
                                <div class="item">
                                    <a class="gallery-item" href="{{ product.image1.url }}"
                                       data-fancybox="gallery1">
                                        <img src="{{ product.image1.url }}" alt="Product">
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="gallery-item" href="{{ product.image2.url }}"
                                       data-fancybox="gallery1">
                                        <img src="{{ product.image2.url }}" alt="Product">
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="gallery-item" href="{{ product.image3.url }}"
                                       data-fancybox="gallery1">
                                        <img src="{{ product.image3.url }}" alt="Product">
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="gallery-item" href="{{ product.image4.url }}"
                                       data-fancybox="gallery1">
                                        <img src="{{ product.image4.url }}" alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center flex-wrap">
                                <ul class="product-thumbnails owl-thumbs ml-2" data-slider-id="1">
                                    <li class="owl-thumb-item active">
                                        <a href="">
                                            <img src="{{ product.image1.url }}" alt="Product">
                                        </a>
                                    </li>
                                    <li class="owl-thumb-item">
                                        <a href="">
                                            <img src="{{ product.image2.url }}" alt="Product">
                                        </a>
                                    </li>
                                    <li class="owl-thumb-item">
                                        <a href="">
                                            <img src="{{ product.image3.url }}" alt="Product">
                                        </a>
                                    </li>
                                    <li class="owl-thumb-item">
                                        <a href="">
                                            <img src="{{ product.image4.url }}" alt="Product">
                                        </a>
                                    </li>
                                </ul>
                                <ul class="product-thumbnails">
                                    <li>
                                        <a class="navi-link text-sm" href="{{ product.video.url }}"
                                           data-fancybox data-width="960" data-height="640">
                                            <i class="mdi mdi-video text-lg d-block mb-1"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Product Info -->
                    <div class="col-lg-8 col-md-6 py-2">
                        <div class="product-info dt-sl">
                            <div class="product-title dt-sl mb-3">
                                <h1>{{ product.name_product }}</h1>
                                <h3>{{ product.name_product_english }}</h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    {% if colors %}
                                        <div class="product-variant dt-sl">
                                            <div
                                                    class="section-title text-sm-title title-wide no-after-title-wide mb-0">
                                                <h2>انتخاب رنگ:</h2>
                                            </div>
                                            <ul class="product-variants float-right ml-3">
                                                {% for color in colors %}
                                                    <li class="ui-variant">
                                                        <label class="ui-variant ui-variant--color">
                                                        <span class="ui-variant-shape"
                                                              style="background-color: {{ color }}"></span>
                                                            <input form="cart" type="radio" value="{{ color }}"
                                                                   name="color"
                                                                   class="variant-selector" checked>
                                                            <span style="padding: 16px"
                                                                  class="ui-variant--check"></span>
                                                        </label>
                                                    </li>
                                                {% endfor %}


                                            </ul>
                                        </div>
                                    {% endif %}
                                    <br><br>
                                    {% if sizes %}
                                        <div class="product-variant dt-sl">
                                            <div
                                                    class="section-title text-sm-title title-wide no-after-title-wide mb-0">
                                                <h2>انتخاب رنگ:</h2>
                                            </div>
                                            <ul class="product-variants float-right ml-3">
                                                {% for size in sizes %}
                                                    <li class="ui-variant">
                                                        <label class="ui-variant ui-variant--color">

                                                            <input form="cart" type="radio" value="{{ size }}"
                                                                   name="size"
                                                                   class="variant-selector" checked>
                                                            <span style="padding: 3px 25px;"
                                                                  class="ui-variant--check">{{ size }}</span>
                                                        </label>
                                                    </li>
                                                {% endfor %}


                                            </ul>
                                        </div>
                                    {% endif %}
                                    <div class="product-params dt-sl">
                                        <ul data-title="ویژگی‌های محصول">
                                            {% for attr_title,attr_value in attrs.items %}
                                                {% if forloop.counter <= 5 %}
                                                    <li>
                                                        <span>{{ attr_title }}: </span>
                                                        <span> {{ attr_value }} </span>
                                                    </li>
                                                {% endif %}

                                            {% endfor %}


                                        </ul>
                                        <div class="sum-more">
                                                <span class="show-more btn-link-border">
                                                    + موارد بیشتر
                                                </span>
                                            <span class="show-less btn-link-border">
                                                    - بستن
                                                </span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">

                                    <div class="product-summary">
                                        <nav id="stack-menu">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <div class="product-seller-row-main">
                                                            <img src="./assets/img/seller-logo.png" alt="">
                                                            <div class="product-seller-first-line">
                                                                فروشنده:
                                                                <span class="product-seller-name">دیدیکالا</span>
                                                            </div>
                                                            <div class="product-seller-second-line">
                                                                عملکرد:
                                                                <span class="font-weight-bold">۵</span>
                                                                از ۵
                                                                <span>
                                                                        <span class="u-divider"></span>
                                                                        <span class="font-weight-bold">۸۶.۶٪</span>
                                                                        رضایت از کالا
                                                                    </span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <i class="far fa-box-check product-delivery-warehouse"></i>
                                                        موجود در انبار دیدیکالا
                                                    </a>
                                                    <ul class="product-seller-box--shadowed">
                                                        <div class="product-info-box-body-wrapper">
                                                            <div class="product-info-box-body">
                                                                <div class="shipment-info-box-row">
                                                                    <div class="font-weight-bold">
                                                                            <span>
                                                                                آماده ارسال
                                                                            </span>
                                                                    </div>
                                                                    <div class="u-text-spaced">
                                                                        این کالا در انبار دیدیکالا موجود و آماده
                                                                        پردازش است.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <div class="product-seller-row product-seller-row--price">
                                                {% if product.amazing_offer %}
                                                    <div class="product-seller-price-info">
                                                        <div class="product-seller-price-prev">
                                                            {{ product.price |intcomma }}
                                                        </div>
                                                        <div class="product-seller-price-off">
                                                            {{ product.discount_percent |intcomma }}٪
                                                        </div>
                                                    </div>
                                                    <div class="product-seller-price-real">
                                                        <div class="product-seller-price-raw">{{ product.discounted_price |intcomma }}</div>
                                                        تومان
                                                    </div>
                                                {% else %}
                                                    <div class="product-seller-price-real">
                                                        <div class="product-seller-price-raw">{{ product.discounted_price |intcomma }}</div>
                                                        تومان
                                                    </div>
                                                {% endif %}

                                            </div>
                                            <div class="product-seller-row product-seller-row--add-to-cart">
                                                <form action="{% url 'cart' %}" method="post" id="cart">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                                    <button class="btn-add-to-cart btn-add-to-cart--full-width">
                                                        <span class="btn-add-to-cart-txt">افزودن به سبد خرید</span>
                                                    </button>
                                                </form>

                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="mb-add-to-cart-btn-wrapper">
                    <a href="#" class="mb-add-to-cart-btn">افزودن به سبد خرید</a>
                </div> -->
            </div>
            <!-- sellers -->
            <div class="dt-sn mb-5 px-0 dt-sl pt-0">
                <!-- Start tabs -->
                <section class="tabs-product-info mb-3 dt-sl">
                    <div class="ah-tab-wrapper border-bottom dt-sl">
                        <div class="ah-tab dt-sl">
                            <a class="ah-tab-item" data-ah-tab-active="true" href=""><i
                                    class="mdi mdi-glasses"></i>نقد و بررسی</a>
                            <a class="ah-tab-item" href=""><i class="mdi mdi-format-list-checks"></i>مشخصات</a>
                            <a class="ah-tab-item" href=""><i
                                    class="mdi mdi-comment-text-multiple-outline"></i>نظرات کاربران</a>
                            <a class="ah-tab-item" href=""><i class="mdi mdi-comment-question-outline"></i>پرسش و
                                پاسخ</a>
                        </div>
                    </div>
                    <div class="ah-tab-content-wrapper product-info px-4 dt-sl">
                        <div class="ah-tab-content dt-sl" data-ah-tab-active="true">
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                                <h2>توضیحات</h2>
                            </div>
                            <div class="product-title dt-sl">
                                <h1>{{ product.name_product }}
                                </h1>
                                <h3>{{ product.name_product_english }}</h3>
                            </div>
                            <div class="description-product dt-sl mt-3 mb-3">
                                <div class="container">
                                    <p>{{ product.description | safe }}</p>
                                </div>
                            </div>
                            <div class="accordion dt-sl accordion-product" id="accordionExample">
                                {% if texts %}
                                    {% for text_title , text_value in texts %}
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                                    <button class="btn collapsed" type="button" data-toggle="collapse"
                                                            data-target="#collapse-{{ forloop.counter }}"
                                                            aria-expanded="false"
                                                            aria-controls="collapseOne">
                                                        {{ text_title }}
                                                    </button>
                                                </h5>
                                            </div>

                                            <div id="collapse-{{ forloop.counter }}" class="collapse"
                                                 aria-labelledby="headingOne"
                                                 data-parent="#accordionExample">
                                                <div class="card-body">
                                                    {{ text_value |safe }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}


                                {% endif %}


                            </div>
                        </div>
                        <div class="ah-tab-content params dt-sl">
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                                <h2>مشخصات فنی</h2>
                            </div>
                            <div class="product-title dt-sl mb-3">
                                <h1>{{ product.name_product }}</h1>
                                <h3>{{ product.name_product_english }}</h3>
                            </div>


                            <section>
                                <h3 class="params-title">مشخصات</h3>
                                <ul class="params-list">
                                    {% for attr_title,attr_value in attrs.items %}

                                        <li>
                                            <div class="params-list-key">
                                                <span class="d-block">{{ attr_title }}</span>
                                            </div>
                                            <div class="params-list-value">
                                                <span class="d-block">
                                                    {{ attr_value }}
                                                </span>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </section>
                        </div>
                        <div class="ah-tab-content comments-tab dt-sl">
                            <div class="section-title title-wide no-after-title-wide mb-0 dt-sl">
                                <h2>امتیاز کاربران به:</h2>
                            </div>
                            <div class="product-title dt-sl mb-3">
                                <h1>{{ product.name_product }}
                                </h1>
                                <h3>{{ product.name_product_english }}</h3>
                            </div>
                            <div class="dt-sl">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <ul class="content-expert-rating">
                                            <li>
                                                <div class="cell">کیفیت ساخت</div>
                                                <div class="cell">
                                                    <div class="rating rating--general">
                                                        <div class="rating-rate" data-rate-value="100%"
                                                             style="width: {{ build }}%;"></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell">ارزش خرید به نسبت قیمت</div>
                                                <div class="cell">
                                                    <div class="rating rating--general">
                                                        <div class="rating-rate" data-rate-value="100%"
                                                             style="width: {{ worth_buying }}%;"></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell">نوآوری</div>
                                                <div class="cell">
                                                    <div class="rating rating--general">
                                                        <div class="rating-rate" data-rate-value="100%"
                                                             style="width: {{ innovation }}%;"></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell">امکانات و قابلیت ها</div>
                                                <div class="cell">
                                                    <div class="rating rating--general">
                                                        <div class="rating-rate"
                                                             style="width: {{ possibilities }}%;"></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell">سهولت استفاده</div>
                                                <div class="cell">
                                                    <div class="rating rating--general">
                                                        <div class="rating-rate" data-rate-value="100%"
                                                             style="width: {{ ease_of_use }}%;"></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell">طراحی و ظاهر</div>
                                                <div class="cell">
                                                    <div class="rating rating--general">
                                                        <div class="rating-rate" data-rate-value="100%"
                                                             style="width: {{ designing }}%;"></div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="comments-summary-note">
                                                <span>شما هم می‌توانید در مورد این کالا نظر
                                                    بدهید.</span>
                                            <p>برای ثبت نظر، لازم است ابتدا وارد حساب کاربری خود
                                                شوید. اگر این محصول را قبلا از دیجی‌کالا خریده
                                                باشید، نظر
                                                شما به عنوان مالک محصول ثبت خواهد شد.
                                            </p>
                                            <div class="dt-sl mt-2">
                                                <a href="{% url 'product_comments' product.name_product %}"
                                                   class="btn-primary-cm btn-with-icon">
                                                    <i class="mdi mdi-comment-text-outline"></i>
                                                    افزودن نظر جدید
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="comments-area dt-sl">
                                    <div
                                            class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                                        <h2>نظرات کاربران</h2>
                                        <p class="count-comment">{{ len_product_comments }} نظر</p>
                                    </div>
                                    <ol class="comment-list">
                                        {% if product_comments %}
                                            {% for product_comment in product_comments %}
                                                <li>
                                                    <div class="comment-body">
                                                        <div class="row">
                                                            <div class="col-md-3 col-sm-12">
                                                                <div class="message-light message-light--purchased">
                                                                    خریدار این محصول
                                                                </div>
                                                                <ul class="comments-user-shopping">

                                                                    <li>
                                                                        <div class="cell">خریداری شده
                                                                            از:
                                                                        </div>
                                                                        <div class="cell seller-cell">
                                                                            <span class="o-text-blue">دیجی‌کالا</span>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                                <div class="message-light message-light--opinion-positive">
                                                                    نظر کاربر: {{ product_comment.tender }}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-9 col-sm-12 comment-content">
                                                                <div class="comment-title">
                                                                    {{ product.name_product }}
                                                                </div>
                                                                <div class="comment-author">
                                                                    توسط {{ product_comment.user }} در
                                                                    تاریخ<span
                                                                        dir="rtl">{{ product_comment.date |filter_date:10 }}</span>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4 col-sm-6 col-12">
                                                                        <div class="content-expert-evaluation-positive">
                                                                            <span>نقاط قوت</span>
                                                                            <ul>
                                                                                {% for pk,product_comments_strength in product_comments_strengths %}
                                                                                    {% if pk == product_comment.pk %}
                                                                                        {% for product_comments_strengt in product_comments_strength %}
                                                                                            <li>{{ product_comments_strengt }}</li>
                                                                                        {% endfor %}
                                                                                    {% endif %}
                                                                                {% endfor %}

                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4 col-sm-6 col-12">
                                                                        <div class="content-expert-evaluation-negative">
                                                                            <span>نقاط ضعف</span>
                                                                            <ul>
                                                                                {% for pk,product_comments_weaknesse in product_comments_weaknesses %}
                                                                                    {% if pk == product_comment.pk %}
                                                                                        {% for product_comments_weakness in product_comments_weaknesse %}
                                                                                            <li>{{ product_comments_weakness }}</li>
                                                                                        {% endfor %}
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <p>{{ product_comment.text }}</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}

                                        {% endif %}


                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="ah-tab-content dt-sl">
                            <div class="section-title title-wide no-after-title-wide dt-sl">
                                <h2>پرسش و پاسخ</h2>
                                <p class="count-comment">پرسش خود را در مورد محصول مطرح نمایید</p>
                            </div>
                            <div class="form-question-answer dt-sl mb-3">
                                <form action="{% url 'add_questions' %}" method="post">
                                    {% csrf_token %}
                                    <textarea name="text" class="form-control mb-3" rows="5"></textarea>
                                    <button class="btn btn-dark float-right ml-3" type="submit">ثبت پرسش</button>
                                    <div class="custom-control custom-checkbox float-right mt-2">
                                        <input type="hidden" name="product_id" value="{{ product.pk }}"
                                               class="custom-control-input" id="customCheck3">
                                    </div>
                                </form>
                            </div>
                            <div class="comments-area default">
                                <div
                                        class="section-title text-sm-title title-wide no-after-title-wide mt-5 mb-0 dt-sl">
                                    <h2>پرسش ها و پاسخ ها</h2>

                                </div>
                                <ol class="comment-list">
                                    {% for question in questions %}
                                        <li>
                                            <div class="comment-body">
                                                <div class="comment-author">
                                                    <span class="icon-comment">?</span>
                                                    <cite class="fn">{{ question.user }}</cite>
                                                    <span class="says">گفت:</span>
                                                    <div class="commentmetadata">
                                                        <a href="#" dir="ltr">
                                                            {{ question.date |filter_date:19 }}
                                                        </a>
                                                    </div>
                                                </div>
                                                <p>
                                                    {{ question.text }}</p>

                                            </div>
                                            {% if question.answer_text %}
                                                <ol class="children">
                                                    <li>
                                                        <div class="comment-body">
                                                            <div class="comment-author">
                                                            <span
                                                                    class="icon-comment mdi mdi-lightbulb-on-outline"></span>
                                                                <cite class="fn">ادمین</cite> <span
                                                                    class="says">گفت:</span>
                                                                <div class="commentmetadata">
                                                                    <a dir="ltr" href="#">
                                                                        {{ question.answer_date|filter_date:19 }}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            {{ question.answer_text|safe }}

                                                        </div>
                                                        <!-- .children -->
                                                    </li>
                                                    <!-- #comment-## -->
                                                </ol>
                                            {% endif %}

                                            <!-- .children -->
                                        </li>
                                    {% endfor %}

                                    <!-- #comment-## -->

                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End tabs -->
            </div>
            <!-- End Product -->

        </div>
    </main>
{% endblock content %}
{% block exscript %}
    <script>
        function myfavorite() {
            let status = document.getElementById('myfav').className
            if (status.indexOf('add-favorites favorites') !== -1) {
                status = '0'
            } else {
                status = '1'
            }
            $.ajax({
                url: '{% url "my_favorite_product" %}',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'product_id': '{{ product.pk }}',
                    'status': status,
                }

            })
        }</script>
{% endblock %}