{% extends 'front/base.html' %}
{% load static %}
{% block content %}
    <main class="main-content dt-sl mb-3">
        <div class="page-cover mb-2">
            <div class="page-cover-title">
                <h1>پاسخ پرسش‌های پرتکرار</h1>

            </div>
        </div>
        <div class="container main-container">
            <div class="row">
                <div class="col-12">
                    <div class="page info-page-cats dt-sl dt-sn pt-3 pb-2">
                        <div class="row">
                            <div class="col-12 pr-4 mb-3">
                                <div class="section-title title-wide mb-1 no-after-title-wide">
                                    <h2 class="font-weight-bold px-res-2">دسته‌بندی پرسش‌ها</h2>
                                </div>
                            </div>
                            {% if faq_categories %}
                                {% for faq_category in faq_categories %}
                                    <div class="col-sm-4 col-6">
                                        <div class="info-page-cat">
                                            <a href="{% url 'faq_details' faq_category.name %}">
                                                <div class="info-page-cat-icon">
                                                    <img src="{{ faq_category.image.url }}" alt="">
                                                </div>
                                                <span class="info-page-cat-title">
                                                {{ faq_category.name }}
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}


                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="page dt-sl dt-sn pt-3 pb-2 mb-4">
                        <div class="row">
                            <div class="col-12 pr-4 mb-3">
                                <div class="section-title title-wide mb-1 no-after-title-wide">
                                    <h2 class="font-weight-bold">پرتکرارترین پرسش‌ها</h2>
                                </div>
                            </div>
                            <div class="col-12 filter-product mb-3">
                                <div class="accordion" id="accordionExample">
                                    {% if faqs %}
                                        {% for faq in faqs %}
                                            <div class="card">
                                                <div class="card-header" id="faq-{{ faq.pk }}">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-block text-right collapsed" type="button"
                                                                data-toggle="collapse"
                                                                data-target="#collapse-{{ faq.pk }}"
                                                                aria-expanded="false"
                                                                aria-controls="collapse-{{ faq.pk }}">{{ faq.text }}
                                                            <i class="mdi mdi-chevron-down"></i>
                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="collapse-{{ faq.pk }}" class="collapse"
                                                     aria-labelledby="faq-{{ faq.pk }}"
                                                     data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        {{ faq.answer_text |safe }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
