{% extends 'front/base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
    <main class="main-content dt-sl mb-3">
        <div class="container main-container">

            <!-- Start Main-Slider -->
            <div class="row mb-3">
                <aside class="sidebar col-xl-2 col-lg-3 col-12 order-2 order-lg-1 pl-0 hidden-md">
                    <!-- Start banner -->
                    <div class="sidebar-inner dt-sl">
                        <div class="sidebar-banner">
                            <a href="{{ gif.link }}" target="_top">
                                <img src="{{ gif.gif.url }}" width="100%" height="329"
                                     alt="">
                            </a>
                        </div>
                    </div>
                    <!-- End banner -->
                </aside>
                <div class="col-xl-10 col-lg-9 col-12 order-1 order-lg-2">
                    <!-- Start main-slider -->
                {% if sliders %}
                    <section id="main-slider" class="main-slider carousel slide carousel-fade card hidden-sm"
                             data-ride="carousel">
                    
                    	<ol class="carousel-indicators">
                            {% for slider in sliders %}
                                {% if forloop.counter == 1 %}
                                    <li data-target="#main-slider" data-slide-to="{{ forloop.counter }}"
                                        class="active"></li>
                                {% else %}
                                    <li data-target="#main-slider" data-slide-to="{{ forloop.counter }}"></li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    
                        
                        <div class="carousel-inner">
                            {% for slider in sliders %}
                                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                    <a class="main-slider-slide" style="background-image: url({{ slider.image_url }})"
                                       href="{{ slider.link }}">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#main-slider" role="button" data-slide="prev">
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                        <a class="carousel-control-next" href="#main-slider" data-slide="next">
                            <i class="mdi mdi-chevron-left"></i>
                        </a>
                    </section>
                
                    <section id="main-slider-res"
                             class="main-slider carousel slide carousel-fade card d-none show-sm" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for slider in sliders %}
                                {% if forloop.counter == 1 %}
                                    <li data-target="#main-slider-res" data-slide-to="{{ forloop.counter }}"
                                        class="active"></li>
                                {% else %}
                                    <li data-target="#main-slider-res" data-slide-to="{{ forloop.counter }}"></li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for slider in sliders %}
                                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                    <a class="main-slider-slide"
                                       href="{{ slider.link }}">
                                        <img src="{{ slider.image_url }}"
                                         alt=""
                                         class="img-fluid">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#main-slider-res" role="button" data-slide="prev">
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                        <a class="carousel-control-next" href="#main-slider-res" data-slide="next">
                            <i class="mdi mdi-chevron-left"></i>
                        </a>
                    </section>
                {% endif %} 
                    <!-- End main-slider -->
                </div>
            </div>
            <!-- End Main-Slider -->
            <!-- Start Product-Slider -->
            <div class="row">
                <div class="col-xl-10 col-lg-12">
                    <section class="slider-section dt-sl mb-5">
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="section-title text-sm-title title-wide no-after-title-wide">
                                    <h2>پر فروش ترینها</h2>
                                    <a href="{% url 'products_order' 'sales_number' %}">مشاهده همه</a>
                                </div>
                            </div>

                            <!-- Start Product-Slider -->
                        {% if best_sellers %}
                        	<div class="col-12 px-res-0">
                                <div class="product-carousel carousel-md owl-carousel owl-theme">
                                    {% for best_seller in best_sellers %}
                                        <div class="item">
                                            <div class="product-head">
                                                <div class="rating-stars">
                                                    {% for i in '12345' %}
                                                        {% if forloop.counter <= best_seller.star %}
                                                            <i class="mdi mdi-star active"></i>
                                                        {% else %}
                                                            <i class="mdi mdi-star"></i>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="product-card mb-3 shadow-unset">
                                                {% if best_seller.discount_percent != 0 %}
                                                    <div class="product-head">
                                                        <div class="discount">
                                                            <span>{{ best_seller.discount_percent }}%</span>
                                                        </div>
                                                        <br>
                                                    </div>
                                                {% endif %}
                                                <a class="product-thumb"
                                                   href="{% url 'single_product' best_seller.slug_name_product %}">
                                                    <img src="{{ best_seller.image1.url }}" alt="Product Thumbnail">
                                                </a>
                                                <div class="product-card-body">
                                                    <h5 class="product-title">
                                                        <a href="{% url 'single_product' best_seller.slug_name_product %}">{{ best_seller.name_product }}</a>
                                                    </h5>
                                                    <a class="product-meta"
                                                       href="{% url 'product_group_category_subcategory' best_seller.sub_category %}">{{ best_seller.sub_category }}</a>
                                                    <span class="product-price">{{ best_seller.discounted_price|intcomma }} تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}


                                </div>
                            </div>
                        {% endif %} 
                            
                            <!-- End Product-Slider -->

                        </div>
                    </section>
                </div>
                <div class="col-xl-2 col-lg-3 hidden-lg pr-0">
                    <div class="widget-suggestion dt-sn border pt-3 mt-3">
                        <div class="widget-suggestion-title">
                            <img src="{% static 'front/assets/img/theme/suggestion-title.png' %}" alt="">
                        </div>
                        <div id="progressBar">
                            <div class="slide-progress"></div>
                        </div>
                    {% if instant_sales %}
                    	<div id="suggestion-slider" class="owl-carousel owl-theme">
                            {% for instant_sale in instant_sales %}
                                <div class="item">
                                <div class="product-head">
                                                    <div class="rating-stars">
                                                        {% for i in '12345' %}
                                                            {% if forloop.counter <= instant_sale.star %}
                                                                <i class="mdi mdi-star active"></i>
                                                            {% else %}
                                                                <i class="mdi mdi-star"></i>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                    <div class="product-card mb-3 shadow-unset">
                                        {% if instant_sale.discount_percent != 0 %}
                                            <div class="product-head">
                                                <div class="discount">
                                                    <span>{{ instant_sale.discount_percent }}%</span>
                                                </div>
                                                <br>
                                            </div>
                                        {% endif %}
                                        <a class="product-thumb"
                                           href="{% url 'single_product' instant_sale.slug_name_product %}">
                                            <img src="{{ instant_sale.image1.url }}" alt="Product Thumbnail">
                                        </a>
                                        <div class="product-card-body">
                                            <h5 class="product-title">
                                                <a href="{% url 'single_product' instant_sale.slug_name_product %}">{{ instant_sale.name_product }}</a>
                                            </h5>
                                            <a class="product-meta"
                                               href="{% url 'product_group_category_subcategory' instant_sale.sub_category %}">{{ instant_sale.sub_category }}</a>
                                            <span class="product-price">{{ instant_sale.discounted_price|intcomma }} تومان</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                    {% endif %} 
                        
                    </div>
                </div>
            </div>

            <!-- Start Category-Section -->
            <div class="row mt-3 mb-5">
                <div class="col-12">
                    <div class="category-section dt-sn dt-sl border">
                        <div class="category-section-title dt-sl">
                            <h3>دسته بندی کالا ها</h3>
                        </div>
                        <div class="category-section-slider dt-sl">
                            <div class="category-slider owl-carousel">
                            {% if groups %}
                            	{% for group in groups %}
                                    <div class="item">
                                        <a href="{% url 'product_group_category_subcategory' group.name %}" class="promotion-category">
                                            <img src="{{ group.image.url }}" alt="">
                                            <h4 class="promotion-category-name">{{ group.name }}</h4>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %} 
                                


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Category-Section -->
            <!-- Start Product-Slider -->
            <section class="slider-section dt-sl mb-5">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="section-title text-sm-title title-wide no-after-title-wide">
                            <h2>پر فروش ترینها</h2>
                            <a href="{% url 'products_order' '-sales_number' %}">مشاهده همه</a>
                        </div>
                    </div>

                    <!-- Start Product-Slider -->
                {% if best_sellers_reverse %}
                	<div class="col-12">
                        <div class="product-carousel carousel-lg owl-carousel owl-theme">
                            {% for best_sellers_revers in best_sellers_reverse %}
                                <div class="item">
                                <div class="product-head">
                                                    <div class="rating-stars">
                                                        {% for i in '12345' %}
                                                            {% if forloop.counter <= best_sellers_revers.star %}
                                                                <i class="mdi mdi-star active"></i>
                                                            {% else %}
                                                                <i class="mdi mdi-star"></i>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                    <div class="product-card mb-3 shadow-unset">
                                        {% if best_sellers_revers.discount_percent != 0 %}
                                            <div class="product-head">
                                                <div class="discount">
                                                    <span>{{ best_sellers_revers.discount_percent }}%</span>
                                                </div>
                                                <br>
                                            </div>
                                        {% endif %}
                                        <a class="product-thumb"
                                           href="{% url 'single_product' best_sellers_revers.slug_name_product %}">
                                            <img src="{{ best_sellers_revers.image1.url }}" alt="Product Thumbnail">
                                        </a>
                                        <div class="product-card-body">
                                            <h5 class="product-title">
                                                <a href="{% url 'single_product' best_sellers_revers.slug_name_product %}">{{ best_sellers_revers.name_product }}</a>
                                            </h5>
                                            <a class="product-meta"
                                               href="{% url 'product_group_category_subcategory' best_sellers_revers.sub_category %}">{{ best_sellers_revers.sub_category }}</a>
                                            <span class="product-price">{{ best_sellers_revers.discounted_price|intcomma }} تومان</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %} 
                    
                    <!-- End Product-Slider -->

                </div>
            </section>
            <!-- End Product-Slider -->
            <!-- Start Feature-Product -->
            <section class="dt-sl dt-sn mb-5">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-sm-title title-wide no-after-title-wide">
                            <h2>پیشنهاد ما</h2>
                        </div>
                    </div>
                </div>
            {% if our_suggestions %}
            	<div class="row mb-3">
                    <div class="col-lg-12 col-md-6 col-sm-12 col-12 pt-4">
                        <div class="row">
                            {% for our_suggestion in our_suggestions %}
                            <div class="col-4">
                                <div class="card-horizontal-product border-bottom rounded-0">
                                    <div class="card-horizontal-product-thumb">
                                        <a href="{% url 'single_product' our_suggestion.slug_name_product %}">
                                            <img src="{{ our_suggestion.image1.url }}" alt="">
                                        </a>
                                    </div>
                                    <div class="card-horizontal-product-content">
                                        <div class="card-horizontal-product-title">
                                            <a href="{% url 'single_product' our_suggestion.slug_name_product %}">
                                                <h3>{{ our_suggestion.name_product }}</h3>
                                            </a>
                                        </div>

                                        <div class="card-horizontal-product-price">
                                            <span>{{ our_suggestion.discounted_price|intcomma }} تومان</span>
                                        </div>
                                        <div class="card-horizontal-product-buttons">
                                            <a href="{% url 'single_product' our_suggestion.slug_name_product %}" class="btn btn-outline-info">جزئیات محصول</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}



                        </div>
                    </div>

                </div>
            {% endif %} 
                
            </section>
            <!-- End Feature-Product -->
        </div>
    </main>
{% endblock content %}

