{% extends 'back/base.html' %}
{% load static %}
{% block content %}

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Sub Category Footer</h4>
                </div>
                <div class="col-md-7 align-self-center text-end">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb justify-content-end">
                            <li class="breadcrumb-item"><a href="{% url 'panel_index' '' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'panel_add_cat_footer' %}">Add Category
                                Footer</a></li>
                            <li class="breadcrumb-item active">{{ cat.title }}</li>
                        </ol>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        {% include 'back/partials/_alert.html' %}

                        <div class="card-body">
                            <h4 class="card-title">Add New SubCategory For "{{ cat.title }}"</h4>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <form action="{% url 'panel_add_subcat_footer' cat.pk %}" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <div class="form-group">
                                                <label for="title" class="form-label">Title</label>
                                                <input id="title" required type="text" name="title"
                                                       class="form-control">
                                            </div>

                                        </div>
                                        <div class="col-md-6 ">
                                            <div class="form-group">
                                                <label for="link" class="form-label">Link</label>
                                                <input id="link" required type="text" name="link"
                                                       class="form-control">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="ms-auto mt-3 mt-md-0">
                                        <button
                                                class="btn btn-danger text-white">Submit
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>


                    </div>
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Category Lists</h4>
                            <h6 class="card-subtitle">Your built-in categories</h6>

                            <div class="table-responsive">

                                <table id="table" class="draggable-table table color-table success-table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th style="text-align: center">Category Title</th>
                                        <th style="text-align: center">SubCategory Title</th>
                                        <th style="text-align: center">action</th>

                                    </tr>
                                    </thead>
                                    <tbody>


                                    {% for subcat in subcats %}

                                        <tr data-id="13">

                                            <td style="width: 5%">{{ forloop.counter }}</td>


                                            <td style="width: 25%; text-align: center">{{ subcat.cat }}</td>
                                            <td style="width: 25%; text-align: center">{{ subcat.title }}</td>
                                            <td style="width: 45%;text-align: center">
                                                <a style="padding: 1% 2%;"
                                                   class="btn btn-info text-white"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#modal-edit-{{ subcat.pk }}">
                                                    <i
                                                            class="fa fa-edit"></i></a>
                                                <a style="padding: 1% 2.4%;" class="btn btn-danger text-white"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#modal-delete-{{ subcat.pk }}">
                                                    <i
                                                            class="fa fa-trash"></i></a>
                                            </td>
                                            <td></td>
                                            <!--########################################################### modal edit ######################################################################-->

                                            <div id="modal-edit-{{ subcat.pk }}" class="modal" tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="myModalLabel" aria-hidden="true"
                                                 style="display: none;">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Edit ({{ subcat.title }})</h4>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-hidden="true"></button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <form method="post"
                                                                  action="{% url 'panel_edit_subcat_footer' subcat.pk %}">
                                                                {% csrf_token %}
                                                                <div class="form-group">
                                                                    <label for="title"
                                                                           class="form-label">Title:</label>
                                                                    <input name="title" type="text"
                                                                           value="{{ subcat.title }}"
                                                                           class="form-control"
                                                                           id="title">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="link"
                                                                           class="form-label">Link:</label>
                                                                    <input name="link" type="text"
                                                                           value="{{ subcat.link }}"
                                                                           class="form-control"
                                                                           id="link">
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button"
                                                                            class="btn waves-effect waves-light btn-dark"
                                                                            data-bs-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="submit"
                                                                            class="btn waves-effect waves-light btn-success">
                                                                        Save
                                                                    </button>
                                                                </div>
                                                            </form>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!--########################################################### modal delete ######################################################################-->
                                            <div id="modal-delete-{{ subcat.pk }}" class="modal" tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="myModalLabel">Delete
                                                                Category</h4>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-hidden="true"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4>Are you sure!!!</h4>
                                                            <p>Are you sure you want to delete the <span
                                                                    style="color: #e46a76">{{ subcat.title }}</span>
                                                                Menu?</p>
                                                            <p>Title: {{ subcat.title }}</p>
                                                            <p>Number: {{ forloop.counter }}</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a class="btn btn-danger text-white"
                                                               href="{% url 'panel_delete_subcat_footer' subcat.pk %}">Delete</a>
                                                            <button type="button"
                                                                    class="btn btn-info text-white"
                                                                    data-bs-dismiss="modal">Cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>

                                        </tr>

                                    {% endfor %}


                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->

            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->

        </div>

    </div>
{% endblock content %}