{% extends 'back/base.html' %}
{% load static %}
{% block content %}
    <div class="page-wrapper">

        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
        <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Category Footer</h4>
                </div>
                <div class="col-md-7 align-self-center text-end">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb justify-content-end">
                            <li class="breadcrumb-item"><a href="{% url 'panel_index' '' %}">Home</a></li>
                            <li class="breadcrumb-item active">Add Category Footer</li>
                        </ol>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                    {% include 'back/partials/_alert.html' %}

                        <div class="card-body">
                            <h4 class="card-title">Add New Category</h4>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <form action="{% url 'panel_add_cat_footer' %}" method="post">
                                    {% csrf_token %}
                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <label class="form-label">Title</label>
                                            <input required type="text" name="title" class="form-control">
                                        </div>

                                    </div>
                                    <div class="ms-auto mt-3 mt-md-0">
                                        <button
                                                class="btn btn-danger text-white">Submit
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>


                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Category Lists</h4>
                            <h6 class="card-subtitle">Your built-in categories</h6>
                            <div class="table-responsive">
                                <table class="table color-table success-table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th style="text-align: center">Category Title</th>
                                        <th style="text-align: center">Add Sub Cat</th>
                                        <th style="text-align: center">action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for cat in cats %}
                                        <tr>
                                            <td style="width: 10%">{{ forloop.counter }}</td>
                                            <td style="width: 45%; text-align: center">{{ cat.title }}</td>
                                            <td style="width: 10%;text-align: center"><a
                                                    class="btn btn-dark text-white" href="{% url 'panel_add_subcat_footer' cat.pk %}"> <i
                                                    class="fa fa-plus"></i></a>
                                            </td>
                                            <td style="width: 35%;text-align: center"><a
                                                    class="btn btn-info text-white" data-bs-toggle="modal"
                                                    data-bs-target="#modal-edit-{{ cat.pk }}"> <i
                                                    class="fa fa-edit"></i> Edit</a>

                                                <a style="padding: 6px 7px;" class="btn btn-danger text-white"
                                                   data-bs-toggle="modal" data-bs-target="#modal-delete-{{ cat.pk }}">
                                                    <i
                                                            class="fa fa-trash"></i> Delete</a>
                                            </td>
                                            <!--########################################################### modal edit ######################################################################-->

                                            <div id="modal-edit-{{ cat.pk }}" class="modal" tabindex="-1" role="dialog"
                                                 aria-labelledby="myModalLabel" aria-hidden="true"
                                                 style="display: none;">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Edit ({{ cat.title }})</h4>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-hidden="true"></button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <form method="post"
                                                                  action="{% url 'panel_edit_cat_footer' cat.pk %}">
                                                                {% csrf_token %}
                                                                <div class="form-group">
                                                                    <label for="recipient-name" class="form-label">Category:</label>
                                                                    <input name="title" type="text" value="{{ cat.title }}"
                                                                           class="form-control"
                                                                           id="recipient-name">
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button"
                                                                            class="btn waves-effect waves-light btn-dark"
                                                                            data-bs-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="submit"
                                                                            class="btn waves-effect waves-light btn-success">
                                                                        Save
                                                                    </button>
                                                                </div>
                                                            </form>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!--########################################################### modal delete ######################################################################-->
                                            <div id="modal-delete-{{ cat.pk }}" class="modal" tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="myModalLabel">Delete Category</h4>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-hidden="true"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4>Are you sure!!!</h4>
                                                            <p>Are you sure you want to delete the  <span
                                                                    style="color: #e46a76">{{ cat.title }}</span> category?</p>
                                                            <p>Title: {{ cat.title }}</p>
                                                            <p>Number: {{ forloop.counter }}</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a class="btn btn-danger text-white"
                                                               href="{% url 'panel_delete_cat_footer' cat.pk %}">Delete</a>
                                                            <button type="button"
                                                                    class="btn btn-info text-white"
                                                                    data-bs-dismiss="modal">Cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>

                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->

            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->

        </div>

    </div>
{% endblock content %}